/*---------------------------------------------*/
button {
  background: #184c8f;
	border: none;
	font-weight: 600;
	text-transform: uppercase;
	height: 50px;
	font-size: 18px;
	width: 100%;
	color: #fff;
	border-radius: 4px;
	display: block;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}
